/* Figure out 5 or more DIFFERENT ways to fill in the blank 
   to produce the desired output */

body {
    font-family: Helvetica;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
}

/* Record your solutions here:
   #1 - .chuuuuu
   #2 - #unique
   #3 - h1
   #4 - div
   #5 - body

   e.g. - .pika               */