h1 {
	font-family: Helvetica;
	text-align: center;
}

img {
	width: 100px;
}

div div {
	margin: auto;

	height: 250px;

}

#big_div {
	border: 5px solid black;

	display: flex;
	flex-direction: row;
	align-content: space-around;
}

#sub_div1 {
	display: flex;
	align-items: flex-start;
}

#sub_div2 {
	display: flex;
	align-items: center;
}

#sub_div3 {
	display: flex;
	align-items: flex-end;
}

